:root {
	--back: #fff;
	--feed: #fff;
	--post: #fff;
	--test: #eee;
	--text: #000;
	--tag: #a00;
	--star: #ff0;
}

body {
	margin: auto;
	background: var(--back);
	user-select: none;
}

.feed {
	background: var(--feed);
	width: 700px;
	position: absolute;
	top: 0;
	left: calc(50vw);
	transform: translateX(-50%);
}

.post {
	width: 680px;
	margin: 10px;
	background: var(--post);
	color: var(--text);
}

.post .header {
	width: 100%;
	position: relative;
	top: 0;
	height: 50px;
	display: flex;
	background: var(--test);
}

.post .header .icon {
	width: 50px;
	height: 50px;
	border-radius: 100%;
	overflow: 50%;
	margin: 5px;
	float: left;
}

.post .header .icon img {
	width: 40px;
	height: 40px;
}

.post .header .name {
	height: 50px;
	width: calc(100% - 100px);
	font-family: Segoe UI;
}

.post .header .username {
	font-size: 1.3em;
	/*line-height: 80%;*/
	margin-bottom: -3px;
}

.post .header .tags {
	display: inline-block;
	font-family: Segoe UI;
	font-size: .8em;
}

.post .header .tags .tag {
	display: inline-block;
	/*border: 1px solid var(--tag);*/
	color: var(--tag);
	border-radius: 5px;
	padding: 0 3px 0 0;
	margin: 0 3px 0 0;
}

.post .header .archive {
	float: right;
	font-size: 1.6em;
	line-height: 50px;
	width: 50px;
	text-align: center;
}

.post .main {
	width: 100%;
	height: auto;
	max-height: 400px;
	overflow: hidden;
}

.post .main .view {
	width: 100%;
	height: auto;
}

.post .main .view img {
	max-width: 100%;
	max-height: 400px;
	transform: translateX(-50%);
	margin-left: calc(50%);
	/*height: auto;*/
}

.post .footer {
	width: 100%;
	display: flex;
	justify-content: space-around;
	height: 50px;
	background: var(--test);
}

.post .footer div {
	width: 25%;
	height: 50px;
	font-size: 1.6em;
	line-height: 50px;
	text-align: center;
	transition: .25s all ease;
}

.post .footer div i, .post .header div i, .post .header .icon, .post .header .username, .post .main .view {
	cursor: pointer;
}

.plus-clicked { color: #0f0; }
.minus-clicked { color: #f00; }
.star-clicked { color: var(--star); }
